.navigation-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: var(--space-md);
  border-bottom: 0.01rem solid var(--accent);
}

.all-companies-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  list-style-type: none;
  justify-content: space-between;
  overflow: scroll;
  align-items: center;
}

.all-companies-container::-webkit-scrollbar {
  display: none;
}

.all-companies-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.company-item button {
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--space-xs);
  cursor: pointer;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  color: var(--main-text-color);
  font-family: "jet brains";
}

.company-item button:focus-visible {
  outline: none;
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.15rem;
}

.all-companies-container li a {
  text-decoration: none;
  color: var(--main-text-color);
}




























