.satellite-figure {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.satellite-figure canvas {
  width: 100% !important;
  height: 100% !important;
}